<p>job-submission works!</p>
<form [formGroup]="jobSubmissionForm" (ngSubmit)="submitJob()">
    <div>
        <label for="firstName">
          First Name
        </label>
        <input id="firstName" type="text" formControlName="firstName">
      </div>
      <div>
        <label for="lastName">
          Last Name
        </label>
        <input id="lastName" type="text" formControlName="lastName">
      </div>
    
      <div>
        <label for="email">
          Email
        </label>
        <input id="email" type="text" formControlName="email">
      </div>

      <div>
        <label for="phone">
          Phone
        </label>
        <input id="phone" type="text" formControlName="phone">
      </div>
      <button class="button" type="submit">Apply</button>
</form>

<form [formGroup]="uploadFileForm" >

  <input type="file" formControlName="fileUploaded" (change)="uploadFile($event)" />

</form>

